.scrollable-y {
            overflow-x: auto;
            white-space: nowrap;
            --sb-track-color: #00000000;
            --sb-thumb-color: #cfcfcf;
            --sb-size: 5px;
            scroll-behavior: smooth;

        }

        .scrollable-y::-webkit-scrollbar {
            height: var(--sb-size)
        }

        .scrollable-y::-webkit-scrollbar-track {
            background: var(--sb-track-color);
            border-radius: 4px;
        }

        .scrollable-y::-webkit-scrollbar-thumb {
            background: var(--sb-thumb-color);
            border-radius: 4px;

        }

        @supports not selector(::-webkit-scrollbar) {
            .scrollable-y {
                scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
            }
        }